

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Dashboard | GOV.UK Developer Documentation</title>

    <!--[if gt IE 8]><!--><link href="https://docs.publishing.service.gov.uk/stylesheets/screen.css" rel="stylesheet" media="screen" /><!--<![endif]-->
    <!--[if lte IE 8]><link href="/stylesheets/screen-old-ie.css" rel="stylesheet" media="screen" /><![endif]-->

    <link href="https://docs.publishing.service.gov.uk/stylesheets/print.css" rel="stylesheet" media="print" />
    <script src="https://docs.publishing.service.gov.uk/javascripts/application.js"></script>
  </head>

  <body>
    <div class="app-pane">
      <div class="app-pane__header toc-open-disabled">
        <a href="#content" class="skip-link">Skip to main content</a>

        <header class="header header--full-width">
          <div class="header__container">
            <div class="header__brand">
                <a href="/">
                  <span class="govuk-logo">
                    <img class="govuk-logo__printable-crown" src="https://docs.publishing.service.gov.uk/images/gov.uk_logotype_crown_invert_trans.png" height="32" width="36">
                    GOV.UK
                  </span>
                </a>
            </div>

              <div data-module="navigation">
                <button type="button" class="header__navigation-toggle js-nav-toggle" aria-controls="navigation" aria-label="Show or hide top level navigation">Menu</button>

                <nav id="navigation" class="header__navigation js-nav" aria-label="Top Level Navigation" aria-hidden="true">
                  <ul>
                      <li class="active">
                        <a href="/">
                        </a>
                      </li>
                  </ul>
                </nav>
              </div>
          </div>
        </header>
      </div>

  <div class="app-pane__body">

    <div class="app-pane__content toc-open-disabled">
      <main id="content" class="technical-documentation" data-module="anchored-headings">
        <%= yield %>
      </main>
    </div>
  </div>

    </div>
  </body>
</html>
